---

- name: Add Google Chrome key
  apt_key: https://dl-ssl.google.com/linux/linux_signing_key.pub state=present

- name: Add Google Chrome repo
  apt-repository: repo="deb http://dl.google.com/linux/chrome/deb/ stable main" mode=644 update_cache=yes

- name: Install Google Chrome
  apt: pkg=google-chrome-stable state=installed
